.field {
    position: relative;

    &:has(.field__input:not(:placeholder-shown)) .field__label {
        scale: 0.7;
        translate: -1.75em -2.6em;
        color: var(--color-green-dark);
    }
}

.field__label {
    position: absolute;
    top: 50%;
    left: 17px;
    color: var(--color-gray-3);
    translate: 0 -50%;
}

.field__input {
    --fieldInputPaddingX: 16px;
    --fieldSEarchInputIconSize: 16px;

    width: 100%;
    height: var(--input-height);
    padding-inline: var(--fieldInputPaddingX);
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);

    &:hover,
    &:focus {
        color: var(--color-black);
    }

    &:focus {
        background-color: var(--color-green-light);
        outline: none;
    }

    &[type="search"] {
        &:placeholder-shown {
            padding-right: calc(
                var(--fieldInputPaddingX) * 2 + var(--fieldSEarchInputIconSize)
            );
            background-image: url(/src/icons/icon-search_black.svg);
            background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
            background-size: var(--fieldSEarchInputIconSize);
            background-repeat: no-repeat;
        }
    }

}