.todo {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
    max-width: 404px;
    min-height: 429px;
    padding: 24px;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
}

.todo__title {
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.02em;
    color: var(--color-pink-dark);
}

.todo__form {
    display: flex;
    column-gap: 16px;
}

.todo__field {
    width: 100%;
}

.todo__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    font-weight: 600;
}

.todo__delete-all-button {
    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--color-pink-dark);

    &:hover {
        color: var(--color-pink);
    }

    &:not(.is-visible) {
        opacity: 0;
        visibility: hidden;
    }
}

.todo__list,
.todo__empty-message {
    &:empty {
        display: none;
    }
}

.todo__list {
    --todoListRowGap: 8px;


    display: grid;
    row-gap: var(--todoListRowGap);
}

.todo__empty-message {
    text-align: center;
    color: var(--color-gray-4);
}