body {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    padding: 100px 40px;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-pink-light);
}

input,
label,
button {
    transition-duration: var(--transition-duration);
}

:focus-visible {
    outline: 2px dashed var(--color-green);
    outline-offset: 4px;
    transition-duration: 0s !important;
}