.button {
    display: inline-flex;
    align-items: center;
    height: var(--input-height);
    padding: 12px;
    color: var(--color-white);
    background-color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: var(--border-radius);

    &:hover {
        color: var(--color-green);
        background-color: transparent;
    }

    &:active {
        scale: 1.05;
    }
}
